@import "tailwindcss";

@import "tailwindcss";

@theme {
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 6px;
  --radius-xl: 8px;
  --radius-2xl: 12px;
  --radius-3xl: 16px;
  --radius-4xl: 24px;
  --radius-5xl: 40px;

  --text-base-100: 10px;
  --text-base-200: 12px;
  --text-base-300: 14px;
  --text-base-400: 16px;
  --text-base-450: 18px;
  --text-base-500: 20px;
  --text-base-600: 24px;
  --text-hero-700: 28px;
  --text-hero-800: 32px;
  --text-hero-900: 40px;
  --text-hero-1000: 68px;

  --leading-base-100: 14px;
  --leading-base-200: 16px;
  --leading-base-300: 20px;
  --leading-base-400: 22px;
  --leading-base-450: 24px;
  --leading-base-500: 28px;
  --leading-base-600: 32px;
  --leading-hero-700: 36px;
  --leading-hero-800: 40px;
  --leading-hero-850: 48px;
  --leading-hero-900: 52px;
  --leading-hero-1000: 92px;

  --spacing-none: 0;
  --spacing-xxs: 2px;
  --spacing-xs: 4px;
  --spacing-s-nudge: 6px;
  --spacing-s: 8px;
  --spacing-m-nudge: 10px;
  --spacing-m: 12px;
  --spacing-l: 16px;
  --spacing-xl: 20px;
  --spacing-2xl: 24px;
  --spacing-3xl: 32px;
  --spacing-4xl: 40px;
  --spacing-5xl: 48px;

  --font-base:
    "Segoe UI", "Segoe UI Web (West European)", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --font-monospace: Consolas, "Courier New", Courier, monospace;
  --font-numeric:
    Bahnschrift, "Segoe UI", "Segoe UI Web (West European)", -apple-system,
    BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}
